body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: min(100%, 1440px);
    margin: auto;
}

/* section1 */

.section1 {
    height: 640px;
    position: relative;

}

.section1-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.yellow-box {
    width: 762px;
    height: 208px;
    top: 216px;
    left: 339px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: -4px -4px 6px 0px #000000;
    background-color: #FCC21B99;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 76px;
}

.section1-text {
    font-weight: 800;
    font-style: Italic;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-shadow: 6px 2px 4px #000000;
    text-align: center;


}