body {
    font-family: "Inter", sans-serif;
}

.container {
     max-width: 1440px;
     width: 100%;
    margin: auto;
    padding-top: 138px;
}

/* header  */
header {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    

}


.header-ul {
    display: flex;
    column-gap: 48px;
}

.active,
.inactive {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

}

.inactive {
    color: #FCC21B;
    ;
}

.active {
    color: #ED6C30;
    ;
}

.fa-bag-shopping {
    font-size: 40px;

    color: #FCC21B;

}


/* section1 */

.section1 {
    height: 640px;
    position: relative;

}

.section1-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.yellow-box {
    width: 762px;
    height: 208px;
    top: 216px;
    left: 339px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: -4px -4px 6px 0px #000000;
    background-color: #FCC21B99;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 76px;
}

.section1-text {
    font-weight: 800;
    font-style: Italic;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-shadow: 6px 2px 4px #000000;
    text-align: center;


}

/* section2  */

.section2 {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    gap: 40px;
    background-color: #FFE18A;
    height: 560px;
    position: relative
    



}

.img21,
.img22 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article1 {
    width: 620px;
    height: 400px;
    top: 80px;
    left: 80px;
    opacity: 1;
    position: absolute;
  


}
.article2 {
    width: 620px;
    height: 400px;
    top: 80px;
    left: 740px;
    opacity: 1;
    
    position: absolute;

}

.article-1-is,.article-2-is  {

    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    color: #FFFFFF;
    position: absolute;
    top: 164px;
    left: 194px;
    opacity: 1;

}

/* ra agar vcade magram ver vaketeb imas ro pataravdebodes dapataravebastan ertad  */




/* footer  */
footer {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;

}

.footerul1 {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.footerli1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FCC21B;
    ;


}

.footerul2 {
    display: flex;
    column-gap: 24px;

}